.destination {
	position: relative;
	padding: 60px 60px;
	background-position: 20% 52%;
	background-size: cover;
}

.destination > h1 {
	/* position: absolute; */
	font-size: 4.5rem;
	color: white;
	margin-bottom: 40px;
}

/* Destination Backgrounds */
/* Hawaii */
.destination--hawaii {
	background-image: url('../assets/images/hawaii.jpg');
}

/* Iceland */
.destination--iceland {
	background-image: url('../assets/images/iceland.jpg');
}

/* Greece */
.destination--greece {
	background-image: url('../assets/images/greece.jpg');
}

/* Itinerary Cards */
.destination-container {
	display: flex;
	justify-content: center;
	padding: 0px 100px;
	margin-bottom: 50px;
	column-gap: 40px;
}

.destination__card {
	width: 27%;
	background-color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}

.destination__card > p {
	font-weight: 700;
	border-bottom: 3px solid #000;
}

.destination__card-activity > li {
	background-color: #fefaf5;
	list-style: none;
	padding: 10px 20px;
	margin-top: 20px;
}

.destination__card-activity > li:last-child {
	margin-bottom: 80px;
}
